{% if overwrite %}
################################################################################
## collectd configuration file                                                ##
##   This file is managed by geekoops-collectd                                ##
##   Please don't edit this file manually as your changes will be overwritten ##
################################################################################

{% endif %}
Hostname    "{{ nodename }}"
#FQDNLookup   true
AutoLoadPlugin true
Interval     {{ interval }}

{% if enable_cpufreq == true %}
LoadPlugin cpufreq
{% endif %}
LoadPlugin interface
{% if enable_memory == true %}
LoadPlugin memory
{% endif %}
{% if enable_uptime == true %}
LoadPlugin uptime
{% endif %}

{% if enable_apcups == true %}
<Plugin apcups>
	Host "{{ apcups_host }}"
	Port "{{ apcups_port }}"
	ReportSeconds {{ apcups_report_seconds }}
	PersistentConnection {{ apcups_persistent_connection }}
</Plugin>
{% endif %}

{% if enable_battery == true %}
<Plugin "battery">
  ValuesPercentage {{ battery_percentage }}
  ReportDegraded {{ battery_report_degraded }}
  QueryStateFS false
</Plugin>
{% endif %}

{% if enable_connectivity == true %}
<Plugin connectivity>
  {% for interface in connectivity_interfaces %}
  Interface {{ interface }}
  {% endfor %}
</Plugin>
{% endif %}

{% if enable_cpu == true %}
<Plugin cpu>
  ReportByCpu {{ cpu_report_by_cpu }}
  ReportByState {{ cpu_report_by_state }}
  ValuesPercentage {{ cpu_values_percentage }}
  ReportNumCpu {{ cpu_report_num_cpus }}
</Plugin>
{% endif %}

{% if enable_df == true %}
<Plugin df>
{% for disk in df_disks %}
	Device "{{ disk }}"
{% endfor %}
	ValuesAbsolute true
	ValuesPercentage true
</Plugin>
{% endif %}

{% if enable_disk == true %}
{% for disk in disk_disks %}
<Plugin disk>
	Disk "{{ disk }}"
	IgnoreSelected false
	# UdevNameAttr "DEVNAME"
</Plugin>
{% endfor %}
{% endif %}
{% if enable_hddtemp == true %}
<Plugin hddtemp>
  Host "127.0.0.1"
  Port "7634"
  # TranslateDevicename true
</Plugin>
{% endif %}

{% if enable_load == true %}
<Plugin load>
        ReportRelative true
</Plugin>
{% endif %}

{% if enable_md == true %}
<Plugin md>
	Device "{{ md_device }}"
</Plugin>
{% endif %}

{% if enable_memory == true %}
<Plugin memory>
	ValuesAbsolute false
	ValuesPercentage true
</Plugin>
{% endif %}

{% if influx_host != "" %}
<Plugin network>
	Server "{{ influx_host }}" "{{ influx_port }}"
</Plugin>
{% endif %}

{% if enable_smart == true and smart_disk != "" %}
<Plugin smart>
  Disk "/^[hs]d[a-f][0-9]?$/"
  IgnoreSelected false
  IgnoreSleepMode false
  UseSerial {{ smart_use_serial }}
</Plugin>
{% endif %}

{% if enable_swap == true %}
<Plugin swap>
	ReportByDevice false
	ReportBytes true
	ValuesAbsolute true
	ValuesPercentage true
	ReportIO true
</Plugin>
{% endif %}

{% if prometheus_port != "" %}
<Plugin "write_prometheus">
  Port "{{ prometheus_port }}"
</Plugin>
{% endif %}

{% if enable_vmem == true %}
<Plugin vmem>
	Verbose {{ vmem_verbose }}
</Plugin>
{% endif %}
